.section{
    background-color: #a88c8c;
    padding: 20px;
    margin: 40px;
}
.container{
    margin: 20px;
    padding: 20px;
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: aliceblue;

}

.evento{
    background-color: white;
    padding: 10px;

}
h1{
    text-align: center;

}